body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    }
.title {
    background-color: white;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center ;  
}
.post {
    background-color: white;
    height: 700px;
    width: 500px;
    margin-bottom: 25px;
}
i {
    margin: 5px;
    padding-left: 5px;
    padding-top: 14px;
    padding-right: 5px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    }
p {
    font-family: 'Roboto', sans-serif;
}
.post-footer {
    padding-left:10px;
    padding-right: 10px;  
}
.header-logo {
    display: flex;
    justify-content: space-between;
}
.icon-trio {
    width: 250px;
    display: flex;
    justify-content: flex-start;
}
.icons-footer{
    display: flex;
    justify-content: space-between;
}
.icons-size {
    border: 5px solid red;
    height: 80px;
    width: 80px;
}
.profile-pics {
    margin: 5px;
    padding-left: 5px;
    padding-top: 14px;
    padding-right: 5px;
    height: 38px;
    width: 40px;
    border-radius: 50px;
    background-image: url(https://media.wsimag.com/attachments/188b462da42b5418f6eb11d4dbd6214fab6ef039/store/fill/1090/613/96d34153fe81196b88433da1f4e5fdd61b2dd3de54e339e1fdf8667ed6b8/Cerro-El-Avila-Venezuela.jpg);
    background-position: center;
    background-size: cover;
}
.profile-pic {
    margin: 5px;
    padding-left: 5px;
    padding-top: 14px;
    padding-right: 5px;
    height: 38px;
    width: 40px;
    border-radius: 50px;
    background-image: url(https://i.pinimg.com/736x/7f/50/d7/7f50d7281a907fc2e1080651295abc7f.jpg);
    background-position: center;
    background-size: cover;
}